body, div, h1, h3, p{
  margin: 0;
  padding: 0;
}
.content{
  max-width: 100%;
  min-height: 100%;
}
.login .logIn{
  padding: 10px;
  outline: none;
  border-style: none;
  color: #768A9C;
  border-bottom: 1px solid #768A9C;
  margin-bottom: 10%;
  font-family: 'Lato';
  cursor: default;
  width: 160px;
  /* transform: translateX(-20px); */
  transition: 0.5s ease;

  }
.login .logIn:hover{
  /* transform: translateX(-20px); */
  transform: translateY(1em);
  border-color:  orange;
  transition:0.5s ease;
}
.login .loginButton{
  outline: none;
  border-style: none;
  background-color: #4b5966;
  border-radius: 40px;
  /* width: 100%; */
  margin-bottom: 10%;
  height: 40px;
  color: #E1EEF5;
  font-family: 'Lato';
  cursor: pointer;
  transition: 1s ease;


}
.login .loginButton:hover{
  transition: 1s ease;
  transform:translateY(1em);
  box-shadow: 0px 2px 10px #5e6a75;
}
.login{
  position: absolute;
  left:70%;
  top: 30%;
}
.imagePanel h1,.imagePanel h3{
  font-family: 'Varela Round';
  font-size: 5em;
  margin-left: 20%;
  color: #282732;
}
.imagePanel img{
  position: absolute;
  top: 45%;
  left: 30%;
  height: 15em;
  width: auto;
}
.imagePanel{
  width: 70%;
  min-height: 100%;
  position: absolute;
  left: -10%;
  background-color: #768A9C;
  border-radius: 40px;
}
