body, div, h1, h3, p{
  margin: 0;
  padding: 0;
}
.content{
  max-width: 100%;
  min-height: 100%;
}
.login{
  max-width: 100%;
  min-height: 100%;
  position: absolute;
  right: 0px;
}
.image{
  max-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0px;
}
