body, div, h1, h3, p, a{
  margin: 0;
  padding: 0;
  font-family: 'Varela Round';
  font-size: 1.2rem;
}
.content{
  max-width: 100%;
  min-height: 100%;
}
a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: color 1s ease;
  /* font-size: 1em; */
}
a:hover{
  color: white;
  transition: 1s ease;
  /* font-size: 80px; */

}
#logo{
  position: absolute;
  left: 0;
}
.nav p{
  /* margin-top: 2%; */
  /* top: 30%; */
/* position: absolute; */
display: inline-block;
/* position: absolute; */
margin-left: 5%;

}

.menu{
  /* margin-top: 5%; */
  margin-left: 28em;
}
.nav{
  height: 2em;
  width: 60%;
  /* background-color: #7574a3; */
  /* border-style: groove; */
  /* border: 1px black; */
  border-radius: 0px 0px 40px 0px;
  margin: 0;
  padding: 2%;
    transition: background-color 1s ease;
}
.nav:hover{
  background-color:#9fa4d1;
  transition: 1s ease;
}
.profile{
  position: absolute;
  width: 12em;
  height: 5em;
  padding: 2%;
  border-radius: 40px;
  left: 10em;
  top: 6em;
  transition: background-color 1s ease;
  text-align: center;
}
.profile h1{
  font-size: 2em;
}
.profile:hover{
    background-color: #b99fd1;
    transition: 1s ease;
    cursor: default;
}
.lvl{
  position: absolute;
  width: 8em;
  height: 4em;
  padding: 2%;
  border-radius: 40px;
  left: 30em;
  top: 6em;
  transition: background-color 1s ease;
  text-align: center;
}
.lvl h1{
  font-size: 2em;
}
.lvl:hover{
    background-color: #cf9fd1;
    transition: 1s ease;
    cursor: default;
}

.lastShownWord{
  position: absolute;
  width: 10em;
  height: 3em;
  padding: 2%;
  border-radius: 40px;
  left: 10em;
  top: 16em;
  transition: background-color 1s ease;
  text-align: center;
}
.lastShownWord h1{
  font-size: 2em;
}
.lastShownWord:hover{
    background-color: #d19fb9;
    transition: 1s ease;
    cursor: default;
}
.date{
  position: absolute;
  width: 16em;
  height: 3em;
  padding: 2%;
  border-radius: 40px;
  left: 25em;
  top: 16em;
  transition: 1s background-color ease;
  text-align: center;
}
.date h1{
  font-size: 2em;
}
.date:hover{
    background-color: #d19fa4;
    transition: 1s ease;
    cursor: default;
}
