@import url('https://fonts.googleapis.com/css?family=Nunito:400,900&display=swap');

html, body, *{
  margin: 0;
  padding: 0;
}

.studentInterface{
  width: 0;
  height: 0;
  border-top: 300px solid #BBD2FF;
  border-right: 1000px solid transparent;
  position:fixed;
  z-index: -1;
}
.text{
  position: absolute;
  left:10%;
  top:5%;
  font-family: Nunito, sans-serif;
  font-size:150%;
  color: white;
  text-align: right;
}
.logo{
  position: fixed;
  font-size: 160%;
  font-weight: 900;
}

.studentContain{
  position: absolute;
  top: 35%;
  left:50%;
  scroll-behavior: smooth;
}
.buttons{
  margin-top: 30%;
}

.studentContain button, .studentContain input{
  transform: translateX(-50%);
  width: 300px;
  height: 50px;
  display: block;
  margin-bottom: 5%;
  color:#9D9B9B;
  border-radius: 15px;
  border: none;
  background-color: #fafcff;
  box-shadow: 0px 6px 8px rgb(112, 126, 153,0.46) ;
  font-family: Nunito;
    transition: background-color 0.4s ease;
    text-align: center;
}
.studentContain input::placeholder{
  color: #9d9b9b;
}
#formSub{
  transform: translateX(-101%);
  width: 49%;
  display: inline;
}
#formSub:hover{
  background-color: #e3ecff;
  transition: 0.4 ease;
}

.studentContain a{
  text-decoration: none;
  color:#9D9B9B;
}
.studentContain button:hover, .studentContain input:hover{
  transition: 0.4s ease;
  box-shadow: 0px 3px 2px rgb(112, 126, 153,0.66) ;
}

img{
  max-width: 25%;
  position: absolute;
  right: 5%;
  bottom:10%;
}
